<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="./assets/photo/nbc-logo.jpg" alt="NBC Logo"
        style="width:64.73px;height:50px;float:left">
      <img src="./assets/photo/nbcu.jpg" style="height:50px;float:right" alt="">
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li [ngClass]="{active: featureActive === 'home'}"><a href="#" (click)="selectFeature('home')">UTVP Home</a></li>
        <li [ngClass]="{active: featureActive === 'equipment'}"><a href="#" (click)="selectFeature('equipment')">Equipment</a></li>
        <li [ngClass]="{active: featureActive === 'form'}"><a href="#" (click)="selectFeature('form')">Request Form</a></li>
        <li [ngClass]="{active: featureActive === 'documentation'}"><a href="#" (click)="selectFeature('documentation')">Documentation</a></li>
      </ul>
    </div>
  </div>
</nav>
