<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center" style="font-size: 350%; padding-bottom: 2%">Equipment</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-4" *ngFor="let type of equipmentType">
    <button class="btn btn-primary btn-block btn-lg type" role="button"
    [ngClass]="{active: typeButtonSelected == type}"
    (click)="selectType(type)"
    >
      <div class="text-center">
        <h4 class="list-group-item-heading">{{ type }}</h4>
      </div>
    </button>
  </div>
</div>
<hr>
<ng-template #pleaseSelect>
  <h1 class="text-center" style="font-size: 400%; padding-top: 20%">Please Select Equipment Type</h1>
</ng-template>
<div class="row">
  <div class="" *ngIf="typeSelected; else pleaseSelect">
    <div class="col-sm-5" >
      <app-equipment-list
      [viewType]="typeSelected"
      (selectDetail)="showDetail($event)">
      </app-equipment-list>

    </div>
    <div class="col-sm-7">
      <app-equipment-detail
      [computer]="detailSelected">
      </app-equipment-detail>
    </div>
  </div>
</div>
